# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

blinker/blinker.bgn
*.bld
*.cmd_log
*.gise
*.drc
*.lso
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.twx
*.twr
*.syr
*.stx
*.ptwx
*.edif
*.log
*.xmsgs
*.ut
*.wdb
*.exe
*.xst
blinker/planAhead_run_1/blinker.data/runs/runs.xml
*.xml
*.wpc
*.ppr
*.c
*.obj
*.html
*.didat
*.vdb
*.tcl
*.dbg
*.dat
*.dll
*.cmd
*.vdbx
*.vdbl
*.jou
*.psg
blinker/isim/pn_info
*.xreport
*.projectmgr
*.xrpt
*.ngm
*.mrp
*.map
*.xpi
*.xise
*.xbcd
blinker/isim/blinkerTestBench_isim_beh.exe.sim/tmp_save/_1
blinker/blinker_pad.txt
*.prj
*.lst
blinker/xilinxsim.ini
blinker/blinker_pad.csv
blinker/blinker_bitgen.xwbt
blinker/blinker.unroutes
*.debug
blinker/blinker.bit
blinker/blinker.bit
*.bit